*{
  margin:0;
}
body{
  margin:0;
}

.Navbar{
  width: 100%;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  Background: rgb(247, 207, 47);
  margin-bottom: 20px;
  /* position:fixed;
  margin-top: 0;
  top:0;
  z-index: 1; */
}
.Navbar a{
  font-style: italic;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px 0;
}
div{
  text-align: center;
}

.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:20px;
}
#logo{
  font-size: 40px;
}